<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">

      <h2>Setlist Index</h2>

      This is where your user's setlists will appear.

      <% current_user.setlists.each do |setlist| %>
        <h3><%= link_to "#{setlist.title}", setlist_path(setlist) %></h3>
      <% end %>

    </div>
  </div>
</div>
