<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">

      <h2><%= @setlist.title %></h2>

      This is where your user can view a setlist.

    </div>
  </div>
</div>
